*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/
*/target/
*.iml
.idea
*.scss.cache
*production/overlays/
# Package Files #
*.jar
*.war
*.ear
*.css

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
