@mixin general-config(){
  html, body{width: 100%; height: 100%;}
}
@mixin main-view(){

}
@mixin content-view(){

}
@mixin header-view(){
  .header-view{
    background: url('res/images/bg.jpg') no-repeat rgba(189, 22, 22, .22) 0 0 fixed;
    background-size: 100% 100%;
    opacity:    .75;

  }
}
@mixin menu-view(){
  .menu-view{
    position: absolute;
    left: 0;right: 0;
    background-color: rgba(33, 23, 33, .2);
  }
}
@mixin products-view(){

}
@mixin shopping-cart-view(){
  .shopping-cart-view{

    background: url('res/images/bg.jpg') repeat-x rgba(189, 22, 22, .22) 80% 0;

    opacity:    .75;
  }
}